.content {
  height: 100%;
  min-height: 80vh;
  display: flex;
}
mat-card {
  width: 400px;
  max-width: 90%;
  margin: auto;
}
#sign-in {
  width: 280px;
  max-width: 320px;
  margin: auto auto 40px;
}
mat-error {
  margin-bottom: 15px;
  max-width: 100%;
  font-size: 16px;
  color: maroon;
}