<div class="content">

  <mat-card> 
    <mat-card-title> Регистрация </mat-card-title>
    <mat-card-content>
      <div class="form-box sm-panel">
        <app-linear *ngIf="isLoading"></app-linear>
        <div *ngIf="!isLoading">
          <form id="sign-up" [formGroup]="regform" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input matInput placeholder="Псевдоним" formControlName="bename" 
                    name="benoist-name" (focus)="onFocus()">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" 
                    name="benoist-email">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Пароль" formControlName="password">
            </mat-form-field>

            <div class="captcha" [style.display]="captcha === 'on' ? 'block' : 'none'">
              <re-captcha (captchaResponse)="resolved()" (captchaExpired)="expired()" site_key="{{secretkey}}">
              </re-captcha>
            </div>

            <mat-error *ngIf="regform.controls.bename.errors && regform.controls.bename.errors.pattern">
              Нехорошо использовать такой псевдоним
            </mat-error>
            <mat-error *ngIf="serverMsg !== 'Всё хорошо'">
              {{ serverMsg }}
            </mat-error>
            <button mat-raised-button color="primary">Зарегистрироваться</button>
          </form>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer *ngIf="!isLoading">
      <mat-card-subtitle> <a routerLink="/login">Уже есть аккаунт? Войди</a> </mat-card-subtitle>
    </mat-card-footer>
  </mat-card>

</div>