
a {
  color: inherit;
  text-decoration: none;
}

mat-grid-tile mat-card {
  width: 80%;
  min-height: 180px;
}

.t-group {
  list-style: none;
  padding: 0;
}

.t-group li {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.t-group li:nth-child(1), .t-group li:nth-child(2) {
  background: #8BC34A;
}
.t-group li div {
  display: flex;
  align-items: center;
}
.t-group li .t-group-c {
  flex-basis: 40%;
}
.t-group li .t-group-s {
  flex-basis: 25%;
}
.t-group li .t-group-g {
  flex-basis: 15%;
}
.t-group li .t-group-p {
  flex-basis: 10%;
  margin: auto;
  justify-content: center;
  border-left: 1px solid #c3c3c3;
  font-weight: 700;
}



mat-table {
  width: 100%;
}